<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yezi.love520.gift">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/wawa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/boy"
        android:keepScreenOn="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppTheme">
        <activity
            android:name="com.yezi.love.gift.Activity.TurntableActivity"
            android:label="@string/gift_turntable">

        </activity>

        <activity android:name="com.yezi.love.gift.Activity.SprinkleFlowerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity android:name="com.yezi.love.gift.Activity.FirstActivity">

         </activity>-->
        <service android:name="com.yezi.love.gift.Activity.utils.PlayingMusicServices"></service>

    </application>

</manifest>